<!--
  Generated template for the PlayCardsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>playCards</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-bounce class="no-scroll" fullscreen>
  <!--<span ion-fixed style="height: 100%; width: 100%; position:relative;">-->


    <playing-card  *ngFor="let card of cards" [card]="card">

    </playing-card>
    <div class="display-card" *ngIf="displayCard" [style.left.px]="displayCard.dispPos.left" [style.top.px]="displayCard.dispPos.top"  >
      <div class="display-card-inside">
        <div class="display-card-suit">
          {{displayCard.number}} {{displayCard.suit}}
        </div>
        <div class="display-card-rule">
          {{displayCard.rule}}
        </div>
      </div>

    </div>
 <!-- </span>-->
</ion-content>
