<!--
  Generated template for the EditCardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>editCard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list inset>
    <ion-item>
      <ion-label>Title</ion-label>
      <ion-input maxlength="32" [(ngModel)]="card.title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-input maxlength="128" [(ngModel)]="card.rule"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label>
        All
        <img src="../assets/imgs/S.png">
        <img src="../assets/imgs/D.png">
        <img src="../assets/imgs/H.png">
        <img src="../assets/imgs/C.png">
      </ion-label>
      <ion-checkbox [(ngModel)]="_all" (change)="changeSuit('A');"></ion-checkbox>
    </ion-item>

    <ion-item-group *ngIf="!_all">


      <ion-item>
        <ion-label>Spade <img *ngIf="card.suit !== 'A'" src="../assets/imgs/S.png"></ion-label>
        <ion-checkbox (ionChange)="changeSuit('S');"><!--[(ngModel)]="spade">--></ion-checkbox>
      </ion-item>
      <ion-item>
        <ion-label>Heart <img *ngIf="card.suit !== 'A'" src="../assets/imgs/H.png"></ion-label>
        <ion-checkbox (ionChange)="changeSuit('H');"><!--[(ngModel)]="heart">--></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Diamond <img *ngIf="card.suit !== 'A'" src="../assets/imgs/D.png"></ion-label>
        <ion-checkbox (ionChange)="changeSuit('D');"><!--[(ngModel)]="diamond">--></ion-checkbox>
      </ion-item>

      <ion-item>
        <ion-label>Club <img *ngIf="card.suit !== 'A'" src="../assets/imgs/C.png"></ion-label>
        <ion-checkbox (ionChange)="changeSuit('C');"><!--[(ngModel)]="club">--></ion-checkbox>
      </ion-item>
    </ion-item-group>

  </ion-list>
  <div padding>
    <button ion-button block (click)="save();">Save</button>
  </div>
</ion-content>
